@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.dark * {
  border-color: #27272a;
  scrollbar-color: #27272a transparent;
  scrollbar-width: auto;
  transition: all none;
  transition-duration: 0s;
}

@media (prefers-color-scheme: light) {
  * {
    border-color: #e4e4e7;
    scrollbar-color: #e4e4e7 transparent;
    scrollbar-width: auto;
    transition: all none;
    transition-duration: 0s;
  }
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.resize-handle {
  @apply absolute w-2 h-2 bg-red-500 border border-white rounded-full;
  z-index: 10;
}

.resize-handle-n {
  @apply top-0 left-1/2 -translate-y-1/2 -translate-x-1/2 cursor-ns-resize;
}

.resize-handle-e {
  @apply right-0 top-1/2 translate-x-1/2 -translate-y-1/2 cursor-ew-resize;
}

.resize-handle-s {
  @apply bottom-0 left-1/2 translate-y-1/2 -translate-x-1/2 cursor-ns-resize;
}

.resize-handle-w {
  @apply left-0 top-1/2 -translate-x-1/2 -translate-y-1/2 cursor-ew-resize;
}

.resize-handle-nw {
  @apply top-0 left-0 -translate-x-1/2 -translate-y-1/2 cursor-nwse-resize;
}

.resize-handle-ne {
  @apply top-0 right-0 translate-x-1/2 -translate-y-1/2 cursor-nesw-resize;
}

.resize-handle-se {
  @apply bottom-0 right-0 translate-x-1/2 translate-y-1/2 cursor-nwse-resize;
}

.resize-handle-sw {
  @apply bottom-0 left-0 -translate-x-1/2 translate-y-1/2 cursor-nesw-resize;
}

.selected-element {
  @apply ring-2 ring-blue-500 ring-offset-2;
}

.component-drag-preview {
  @apply pointer-events-none fixed z-50;
}